In [1]:
from pyspark.sql import SparkSession

In [2]:
sparkSession = SparkSession.builder.appName("Veri M. Ilk Ornek").getOrCreate()

In [3]:
sparkSession

In [4]:
sparkSession.read.csv('verimaratonutest_20220215.csv', header=True).show()

+---+----------+----------+--------------------+----------+-----------+-------------+
| id|first_name| last_name|               email|    gender|    country|         city|
+---+----------+----------+--------------------+----------+-----------+-------------+
|  1|     Shane|  Cudworth|scudworth0@wordpr...|    Female|     Mexico|     El Limon|
|  2|    Marthe|    Kippax|      mkippax1@de.vu|      Male|      China|      Zhetang|
|  3|Petronilla|    Malser|pmalser2@miibeian...|    Female|   Bulgaria|     Karnobat|
|  4|   Ottilie|    Fosken|ofosken3@timesonl...|    Female|    Jamaica|   Point Hill|
|  5|      Kile|    Sorton|ksorton4@bluehost...|      Male|   Mongolia|       Arhust|
|  6|      Buck|Gouldstraw|bgouldstraw5@yell...|Polygender|Philippines|       Liozon|
|  7|     Fayre|    Barwis|fbarwis6@studiopr...|    Female|     Russia|Kushchëvskaya|
|  8|       Gib|   Packman|gpackman7@princet...|    Female|  Indonesia|     Kuangsan|
|  9|    Perice|    Wither|  pwither8@slate.com|      Male|  Indonesia|  Belung Satu|
| 10|   Margalo|Ochterlony|mochterlony9@yout...|      Male|     Panama|     Pedregal|
| 11|     Maddy|  Taverner|mtavernera@seattl...|      Male|Philippines|     Bungsuan|
| 12|  Vivienne|  McCulley|vmcculleyb@wikisp...|      Male|     France|      Créteil|
| 13|    Jamaal|    Ayliff| jayliffc@apache.org|Non-binary|      China|  Hongshanzui|
| 14|     Betty|  Hanretty|bhanrettyd@whiteh...|      Male|Afghanistan|     Shīnḏanḏ|
| 15|    Brandy|   Kincade|    bkincadee@qq.com|      Male|     France|     Toulouse|
| 16| Augustine|    Tingly|   atinglyf@ox.ac.uk|      Male|   Bulgaria|      Chavdar|
| 17|     Brent|   Finding|   bfindingg@loc.gov|      Male|      Samoa|      Faleula|
| 18|      Gris|    Dirand|  gdirandh@goo.ne.jp|      Male|      Haiti| Port-de-Paix|
| 19|      Kipp|    Tourle|   ktourlei@ebay.com|      Male|     France|     Le Havre|
| 20|    Grazia|   Asquith|gasquithj@altervi...|      Male|   Malaysia|      Kuching|
+---+----------+----------+--------------------+----------+-----------+-------------+
only showing top 20 rows

In [5]:
rawDF = sparkSession.read.csv('verimaratonutest_20220215.csv',header = True, inferSchema=True)

In [6]:
rawDF.show()

+---+----------+----------+--------------------+----------+-----------+-------------+
| id|first_name| last_name|               email|    gender|    country|         city|
+---+----------+----------+--------------------+----------+-----------+-------------+
|  1|     Shane|  Cudworth|scudworth0@wordpr...|    Female|     Mexico|     El Limon|
|  2|    Marthe|    Kippax|      mkippax1@de.vu|      Male|      China|      Zhetang|
|  3|Petronilla|    Malser|pmalser2@miibeian...|    Female|   Bulgaria|     Karnobat|
|  4|   Ottilie|    Fosken|ofosken3@timesonl...|    Female|    Jamaica|   Point Hill|
|  5|      Kile|    Sorton|ksorton4@bluehost...|      Male|   Mongolia|       Arhust|
|  6|      Buck|Gouldstraw|bgouldstraw5@yell...|Polygender|Philippines|       Liozon|
|  7|     Fayre|    Barwis|fbarwis6@studiopr...|    Female|     Russia|Kushchëvskaya|
|  8|       Gib|   Packman|gpackman7@princet...|    Female|  Indonesia|     Kuangsan|
|  9|    Perice|    Wither|  pwither8@slate.com|      Male|  Indonesia|  Belung Satu|
| 10|   Margalo|Ochterlony|mochterlony9@yout...|      Male|     Panama|     Pedregal|
| 11|     Maddy|  Taverner|mtavernera@seattl...|      Male|Philippines|     Bungsuan|
| 12|  Vivienne|  McCulley|vmcculleyb@wikisp...|      Male|     France|      Créteil|
| 13|    Jamaal|    Ayliff| jayliffc@apache.org|Non-binary|      China|  Hongshanzui|
| 14|     Betty|  Hanretty|bhanrettyd@whiteh...|      Male|Afghanistan|     Shīnḏanḏ|
| 15|    Brandy|   Kincade|    bkincadee@qq.com|      Male|     France|     Toulouse|
| 16| Augustine|    Tingly|   atinglyf@ox.ac.uk|      Male|   Bulgaria|      Chavdar|
| 17|     Brent|   Finding|   bfindingg@loc.gov|      Male|      Samoa|      Faleula|
| 18|      Gris|    Dirand|  gdirandh@goo.ne.jp|      Male|      Haiti| Port-de-Paix|
| 19|      Kipp|    Tourle|   ktourlei@ebay.com|      Male|     France|     Le Havre|
| 20|    Grazia|   Asquith|gasquithj@altervi...|      Male|   Malaysia|      Kuching|
+---+----------+----------+--------------------+----------+-----------+-------------+
only showing top 20 rows

In [7]:
rawDF.printSchema() #şema çıkarır.

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)

In [8]:
type(rawDF)

pyspark.sql.dataframe.DataFrame

In [9]:
rawDF.columns

['id', 'first_name', 'last_name', 'email', 'gender', 'country', 'city']

In [10]:
rawDF.head(3)

[Row(id=1, first_name='Shane', last_name='Cudworth', email='scudworth0@wordpress.com', gender='Female', country='Mexico', city='El Limon'),
 Row(id=2, first_name='Marthe', last_name='Kippax', email='mkippax1@de.vu', gender='Male', country='China', city='Zhetang'),
 Row(id=3, first_name='Petronilla', last_name='Malser', email='pmalser2@miibeian.gov.cn', gender='Female', country='Bulgaria', city='Karnobat')]

In [11]:
rawDF.select('first_name','country')

DataFrame[first_name: string, country: string]

In [12]:
rawDF.describe().show()

+-------+-----------------+----------+---------+--------------------+----------+-----------+-----------+
|summary|               id|first_name|last_name|               email|    gender|    country|       city|
+-------+-----------------+----------+---------+--------------------+----------+-----------+-----------+
|  count|             1000|      1000|     1000|                1000|      1000|       1000|       1000|
|   mean|            500.5|      NULL|     NULL|                NULL|      NULL|       NULL|       NULL|
| stddev|288.8194360957494|      NULL|     NULL|                NULL|      NULL|       NULL|       NULL|
|    min|                1|       Abe|    Abeau|aabisettib4@faceb...|   Agender|Afghanistan|'Ali Sabieh|
|    max|             1000|     Zorah|    Zoppo|zseebornelp@daily...|Polygender|     Zambia|    ‘Arīqah|
+-------+-----------------+----------+---------+--------------------+----------+-----------+-----------+

In [13]:
rawDF.withColumn('new_id', rawDF['id']+1000).show()

+---+----------+----------+--------------------+----------+-----------+-------------+------+
| id|first_name| last_name|               email|    gender|    country|         city|new_id|
+---+----------+----------+--------------------+----------+-----------+-------------+------+
|  1|     Shane|  Cudworth|scudworth0@wordpr...|    Female|     Mexico|     El Limon|  1001|
|  2|    Marthe|    Kippax|      mkippax1@de.vu|      Male|      China|      Zhetang|  1002|
|  3|Petronilla|    Malser|pmalser2@miibeian...|    Female|   Bulgaria|     Karnobat|  1003|
|  4|   Ottilie|    Fosken|ofosken3@timesonl...|    Female|    Jamaica|   Point Hill|  1004|
|  5|      Kile|    Sorton|ksorton4@bluehost...|      Male|   Mongolia|       Arhust|  1005|
|  6|      Buck|Gouldstraw|bgouldstraw5@yell...|Polygender|Philippines|       Liozon|  1006|
|  7|     Fayre|    Barwis|fbarwis6@studiopr...|    Female|     Russia|Kushchëvskaya|  1007|
|  8|       Gib|   Packman|gpackman7@princet...|    Female|  Indonesia|     Kuangsan|  1008|
|  9|    Perice|    Wither|  pwither8@slate.com|      Male|  Indonesia|  Belung Satu|  1009|
| 10|   Margalo|Ochterlony|mochterlony9@yout...|      Male|     Panama|     Pedregal|  1010|
| 11|     Maddy|  Taverner|mtavernera@seattl...|      Male|Philippines|     Bungsuan|  1011|
| 12|  Vivienne|  McCulley|vmcculleyb@wikisp...|      Male|     France|      Créteil|  1012|
| 13|    Jamaal|    Ayliff| jayliffc@apache.org|Non-binary|      China|  Hongshanzui|  1013|
| 14|     Betty|  Hanretty|bhanrettyd@whiteh...|      Male|Afghanistan|     Shīnḏanḏ|  1014|
| 15|    Brandy|   Kincade|    bkincadee@qq.com|      Male|     France|     Toulouse|  1015|
| 16| Augustine|    Tingly|   atinglyf@ox.ac.uk|      Male|   Bulgaria|      Chavdar|  1016|
| 17|     Brent|   Finding|   bfindingg@loc.gov|      Male|      Samoa|      Faleula|  1017|
| 18|      Gris|    Dirand|  gdirandh@goo.ne.jp|      Male|      Haiti| Port-de-Paix|  1018|
| 19|      Kipp|    Tourle|   ktourlei@ebay.com|      Male|     France|     Le Havre|  1019|
| 20|    Grazia|   Asquith|gasquithj@altervi...|      Male|   Malaysia|      Kuching|  1020|
+---+----------+----------+--------------------+----------+-----------+-------------+------+
only showing top 20 rows

In [14]:
cityByCountry = rawDF.groupBy('country').count()
cityByCountry.show()

+-----------+-----+
|    country|count|
+-----------+-----+
|       Chad|    1|
|     Russia|   71|
|   Paraguay|    2|
|      Yemen|    5|
|     Sweden|   17|
|   Kiribati|    1|
|     Guyana|    1|
|Philippines|   52|
|   Djibouti|    1|
|   Malaysia|   11|
|     Turkey|    1|
|    Germany|    3|
|    Comoros|    3|
|Afghanistan|    4|
|Ivory Coast|    2|
|     Rwanda|    1|
|     Jordan|    4|
|     France|   28|
|     Greece|   23|
|     Kosovo|    1|
+-----------+-----+
only showing top 20 rows

In [15]:
rawDF.select('first_name', 'country').groupBy('country').count().show()

+-----------+-----+
|    country|count|
+-----------+-----+
|       Chad|    1|
|     Russia|   71|
|   Paraguay|    2|
|      Yemen|    5|
|     Sweden|   17|
|   Kiribati|    1|
|     Guyana|    1|
|Philippines|   52|
|   Djibouti|    1|
|   Malaysia|   11|
|     Turkey|    1|
|    Germany|    3|
|    Comoros|    3|
|Afghanistan|    4|
|Ivory Coast|    2|
|     Rwanda|    1|
|     Jordan|    4|
|     France|   28|
|     Greece|   23|
|     Kosovo|    1|
+-----------+-----+
only showing top 20 rows

In [16]:
rawDF.filter("id>500").show()

+---+----------+----------+--------------------+-------+-----------+----------------+
| id|first_name| last_name|               email| gender|    country|            city|
+---+----------+----------+--------------------+-------+-----------+----------------+
|501|      Akim|       Pee|    apeedw@google.cn|   Male|   Thailand|       Wiphawadi|
|502|   Valaria|      Noli|     vnolidx@irs.gov| Female|   Thailand|       Tha Muang|
|503|   Jemimah|    Lovart|   jlovartdy@php.net|   Male|      China|     Yangxunqiao|
|504|     Adair|    Rollin|arollindz@feedbur...|   Male|     France|        Paris 16|
|505|    Vonnie|MacKnocker|vmacknockere0@tum...| Female|      China|       Xiangyang|
|506|     Lyell| Yitzovicz|lyitzovicze1@squi...|   Male|     Russia|Petropavlovskaya|
|507|  Humfried|      Gabb|hgabbe2@posterous...| Female| Tajikistan|        Danghara|
|508|     Tracy|  Sketcher|tsketchere3@drupa...|   Male|     Russia|          Valday|
|509|   Fabiano|    Callam|fcallame4@seesaa.net| Female|      China|       Huangling|
|510|    Dorine|    Pollok| dpolloke5@amazon.de|   Male|   Malaysia|          Melaka|
|511|    Pascal|  Mallabar|pmallabare6@addth...|Agender|     Sweden|          Kalmar|
|512|     Julio|     Twort| jtworte7@devhub.com| Female|    Burundi|         Makamba|
|513|    Karrie|  Fronczak|kfronczake8@admin.ch| Female|      Kenya|           Thika|
|514|    Agathe|  Alldritt|aalldritte9@googl...|   Male|Philippines|            Oton|
|515|      Alie| Woodroffe|awoodroffeea@free.fr|   Male|    Croatia|         Goričan|
|516|     Tabby| Harrinson|tharrinsoneb@goog...| Female|     Mexico|  Miguel Hidalgo|
|517|     Lacie|     Karus|lkarusec@macromed...|   Male|New Zealand|      Otorohanga|
|518|   Aurelia|   Mannagh|amannaghed@hubpag...| Female| Azerbaijan|    Divichibazar|
|519|    Dieter|  Mattioni|dmattioniee@image...| Female|  Indonesia|         Ciputat|
|520|   Loraine| Decayette|ldecayetteef@squi...|   Male|   Portugal|  Praia da Barra|
+---+----------+----------+--------------------+-------+-----------+----------------+
only showing top 20 rows

In [17]:
rawDF.filter("country == 'turkey'").show()

+---+----------+---------+-----+------+-------+----+
| id|first_name|last_name|email|gender|country|city|
+---+----------+---------+-----+------+-------+----+
+---+----------+---------+-----+------+-------+----+

In [18]:
rawDF.drop('email').show()

+---+----------+----------+----------+-----------+-------------+
| id|first_name| last_name|    gender|    country|         city|
+---+----------+----------+----------+-----------+-------------+
|  1|     Shane|  Cudworth|    Female|     Mexico|     El Limon|
|  2|    Marthe|    Kippax|      Male|      China|      Zhetang|
|  3|Petronilla|    Malser|    Female|   Bulgaria|     Karnobat|
|  4|   Ottilie|    Fosken|    Female|    Jamaica|   Point Hill|
|  5|      Kile|    Sorton|      Male|   Mongolia|       Arhust|
|  6|      Buck|Gouldstraw|Polygender|Philippines|       Liozon|
|  7|     Fayre|    Barwis|    Female|     Russia|Kushchëvskaya|
|  8|       Gib|   Packman|    Female|  Indonesia|     Kuangsan|
|  9|    Perice|    Wither|      Male|  Indonesia|  Belung Satu|
| 10|   Margalo|Ochterlony|      Male|     Panama|     Pedregal|
| 11|     Maddy|  Taverner|      Male|Philippines|     Bungsuan|
| 12|  Vivienne|  McCulley|      Male|     France|      Créteil|
| 13|    Jamaal|    Ayliff|Non-binary|      China|  Hongshanzui|
| 14|     Betty|  Hanretty|      Male|Afghanistan|     Shīnḏanḏ|
| 15|    Brandy|   Kincade|      Male|     France|     Toulouse|
| 16| Augustine|    Tingly|      Male|   Bulgaria|      Chavdar|
| 17|     Brent|   Finding|      Male|      Samoa|      Faleula|
| 18|      Gris|    Dirand|      Male|      Haiti| Port-de-Paix|
| 19|      Kipp|    Tourle|      Male|     France|     Le Havre|
| 20|    Grazia|   Asquith|      Male|   Malaysia|      Kuching|
+---+----------+----------+----------+-----------+-------------+
only showing top 20 rows

In [19]:
rawDF.withColumnRenamed('first_name', 'firstname').withColumnRenamed('last_name', 'lastname').show()

+---+----------+----------+--------------------+----------+-----------+-------------+
| id| firstname|  lastname|               email|    gender|    country|         city|
+---+----------+----------+--------------------+----------+-----------+-------------+
|  1|     Shane|  Cudworth|scudworth0@wordpr...|    Female|     Mexico|     El Limon|
|  2|    Marthe|    Kippax|      mkippax1@de.vu|      Male|      China|      Zhetang|
|  3|Petronilla|    Malser|pmalser2@miibeian...|    Female|   Bulgaria|     Karnobat|
|  4|   Ottilie|    Fosken|ofosken3@timesonl...|    Female|    Jamaica|   Point Hill|
|  5|      Kile|    Sorton|ksorton4@bluehost...|      Male|   Mongolia|       Arhust|
|  6|      Buck|Gouldstraw|bgouldstraw5@yell...|Polygender|Philippines|       Liozon|
|  7|     Fayre|    Barwis|fbarwis6@studiopr...|    Female|     Russia|Kushchëvskaya|
|  8|       Gib|   Packman|gpackman7@princet...|    Female|  Indonesia|     Kuangsan|
|  9|    Perice|    Wither|  pwither8@slate.com|      Male|  Indonesia|  Belung Satu|
| 10|   Margalo|Ochterlony|mochterlony9@yout...|      Male|     Panama|     Pedregal|
| 11|     Maddy|  Taverner|mtavernera@seattl...|      Male|Philippines|     Bungsuan|
| 12|  Vivienne|  McCulley|vmcculleyb@wikisp...|      Male|     France|      Créteil|
| 13|    Jamaal|    Ayliff| jayliffc@apache.org|Non-binary|      China|  Hongshanzui|
| 14|     Betty|  Hanretty|bhanrettyd@whiteh...|      Male|Afghanistan|     Shīnḏanḏ|
| 15|    Brandy|   Kincade|    bkincadee@qq.com|      Male|     France|     Toulouse|
| 16| Augustine|    Tingly|   atinglyf@ox.ac.uk|      Male|   Bulgaria|      Chavdar|
| 17|     Brent|   Finding|   bfindingg@loc.gov|      Male|      Samoa|      Faleula|
| 18|      Gris|    Dirand|  gdirandh@goo.ne.jp|      Male|      Haiti| Port-de-Paix|
| 19|      Kipp|    Tourle|   ktourlei@ebay.com|      Male|     France|     Le Havre|
| 20|    Grazia|   Asquith|gasquithj@altervi...|      Male|   Malaysia|      Kuching|
+---+----------+----------+--------------------+----------+-----------+-------------+
only showing top 20 rows

In [20]:
countBycountryDF = rawDF.select('first_name', 'country').groupBy('country').count().orderBy('count')

In [21]:
display(countBycountryDF)

DataFrame[country: string, count: bigint]

In [22]:
rawDF.createOrReplaceTempView("person")

In [29]:
%%sql SELECT * FROM person

UsageError: Cell magic `%%sql` not found.