In [1]:
from pyspark.sql import SparkSession

In [2]:
sparkSession = SparkSession.builder.appName("Veri Maratonu 2. ornek").getOrCreate()

In [3]:
rawDF = sparkSession.read.csv('verimaratonutest2_20220215.csv', header= True, inferSchema=True)

In [4]:
rawDF.show()

+---------+--------+----+--------+
|     isim| soyisim| yas|   sehir|
+---------+--------+----+--------+
|   Mehmet|   Fırat|  25|  Ankara|
|     Mert|Mertoğlu|  28|İstanbul|
| Bünyamin|    Önüm|NULL|   İzmir|
|   Selçuk|    NULL|NULL|   Konya|
|     NULL|    NULL|  37| Kocaeli|
|     Ömer| Çorapçı|NULL|    NULL|
|    Burak| Korkmaz|  32|    NULL|
|Hasan Can|   Bulut|  22| Aksaray|
+---------+--------+----+--------+

In [5]:
rawDF.printSchema()

root
 |-- isim: string (nullable = true)
 |-- soyisim: string (nullable = true)
 |-- yas: integer (nullable = true)
 |-- sehir: string (nullable = true)

In [6]:
nullCheckDF = rawDF.na.drop() # null degerleri listeden çıkarır.

In [7]:
nullCheckDF = rawDF.na.drop('any')

In [8]:
nullCheckDF = rawDF.na.drop('all', thresh=3)

In [9]:
nullCheckDF.show()

+---------+--------+----+--------+
|     isim| soyisim| yas|   sehir|
+---------+--------+----+--------+
|   Mehmet|   Fırat|  25|  Ankara|
|     Mert|Mertoğlu|  28|İstanbul|
| Bünyamin|    Önüm|NULL|   İzmir|
|    Burak| Korkmaz|  32|    NULL|
|Hasan Can|   Bulut|  22| Aksaray|
+---------+--------+----+--------+

In [10]:
nullCheckDF = rawDF.na.drop(how='any', subset=['soyisim']) # sadece soyisim özelinde null olanları siler

In [11]:
rawDF.na.fill("boş veri").show() # null olanları doldurmak için kullanılan bir fonksiyondur.
#eger parantezin içine strin bir ifade girildiyse bu sadece string kolonların null degerlerini degistirir. 
# int degerlerin null degerini degistirmek istiyorsak parantez içine de int deger yazılır. bu sefer sadece int kolonların null degerleri degisecektir.

+---------+--------+----+--------+
|     isim| soyisim| yas|   sehir|
+---------+--------+----+--------+
|   Mehmet|   Fırat|  25|  Ankara|
|     Mert|Mertoğlu|  28|İstanbul|
| Bünyamin|    Önüm|NULL|   İzmir|
|   Selçuk|boş veri|NULL|   Konya|
| boş veri|boş veri|  37| Kocaeli|
|     Ömer| Çorapçı|NULL|boş veri|
|    Burak| Korkmaz|  32|boş veri|
|Hasan Can|   Bulut|  22| Aksaray|
+---------+--------+----+--------+

In [12]:
rawDF.na.fill({'isim': 'BOS', 'yas': 0}).show() #null degerleri degistirir.

+---------+--------+---+--------+
|     isim| soyisim|yas|   sehir|
+---------+--------+---+--------+
|   Mehmet|   Fırat| 25|  Ankara|
|     Mert|Mertoğlu| 28|İstanbul|
| Bünyamin|    Önüm|  0|   İzmir|
|   Selçuk|    NULL|  0|   Konya|
|      BOS|    NULL| 37| Kocaeli|
|     Ömer| Çorapçı|  0|    NULL|
|    Burak| Korkmaz| 32|    NULL|
|Hasan Can|   Bulut| 22| Aksaray|
+---------+--------+---+--------+