In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import warnings 
warnings.filterwarnings("ignore")

from plotly.offline import init_notebook_mode, iplot,plot
import plotly as py
init_notebook_mode(connected=True)

import plotly.graph_objs as go
import plotly.io as pio
import plotly.figure_factory as ff

In [29]:
veri = pd.read_csv("universite_siralamasi_20220204.csv")
veri.head(3)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [30]:
veri.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [31]:
#kolon ismi degistirmek icin rename fonk kullanılır
veri.rename(columns={'world_rank'       : 'Dunya_siralama',
                     'university_name'  : 'Uni_ismi',
                     'country'          : 'Ulke',
                     'teaching'         : 'Ogretim',
                     'international'    : 'Uluslararasi',
                     'research'         : 'Arastirma',
                     'citations'        : 'Alinti',
                     'income'           : 'Gelir',
                     'total_score'      : 'Toplam_Puan',
                     'num_students'     : 'Ogrenci_Sayisi',
                     'student_staff_ratio'      : 'Ogrenci_Calisan_Orani',
                     'international_students'   : 'Uluslararasi_Ogrenci',
                     'female_male_ratio'        : 'Kadin_Erkek_Orani',
                     'year'             : 'Yil'}, inplace=True) #inplace = yeni sutun olusturmadan direkt ustune olusturmasi icin kullanilir.

# Plotly Stilleri (bu konuda alistirma yapilacak)

Cizgi Grafigi

In [32]:
df = veri.iloc[:100,:]

In [33]:
pio.templates.default = "simple_white"

In [38]:
cizgi1 = go.Scatter(x = df.Dunya_siralama,
                    y = df.Alinti,
                    mode = "markers",
                    name = "Alinti",
                    marker = dict(color = 'rgba(78,78,250,0.85)'),
                    text = df.Uni_ismi)

cizgi2 = go.Scatter(x = df.Dunya_siralama,
                    y = df.Ogretim,
                    mode = "markers",
                    name = "Egitim-Ogretim Faaliyetleri",
                    marker = dict(color = 'rgba(202,43,15,0.85)'),
                    text = df.Uni_ismi)

veri_ = [cizgi1, cizgi2]

yerlesim = dict(title= 'Dunya Siralamasinda ilk 100 Uni Atif ve Egitim-Ogretim Puanlari',
                xaxis = dict(title = 'Dunya Siralamasi',ticklen= 5,zeroline= False))

fig = dict(data= veri_, layout = yerlesim)
plot(fig, filename='1_cizgi-alinti ve ogretim puanlari.html')

'1_cizgi-alinti ve ogretim puanlari.html'

Cubuk Grafigi

In [51]:
veri2014 = df[df.Yil == 2011].iloc[:5,:]
cizgi1 = go.Bar(x = veri2014.Uni_ismi,
                y = veri2014.Alinti,
                name = "Alinti",
                marker = dict(color = 'rgba(78,78,250,0.85)',
                    line = dict(color = 'rgb(0,0,0)',width = 1.5)),
                text = veri2014.Ulke)

cizgi2 = go.Bar(x = veri2014.Uni_ismi,
                y = veri2014.Alinti,
                name = "Egitim-Ogretim Faaliyetleri",
                marker = dict(color = 'rgba(78,78,250,0.85)',
                    line = dict(color = 'rgb(0,0,0)',width = 1.5)),
                text = veri2014.Ulke)

veri_ = [cizgi1, cizgi2]
yerlesim = go.Layout(barmode = "group")
fig = go.Figure(data= veri_ , layout= yerlesim)
plot(fig, filename='2_cubuk-alinti ve ogretim puanlari')