In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mtl
from collections import Counter

In [6]:
veri = pd.read_csv("olimpiyatlar_temizlenmis_20220204.csv")
veri.head()

,isim,cinsiyet,yas,boy,kilo,takim,uok,yil,sezon,sehir,spor,etkinlik,madalya
0,Edgar Lindenau Aabye,M,34.0,182.48,95.62,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
1,Arvo Ossian Aaltonen,M,30.0,182.01,76.69,Finland,FIN,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
2,Arvo Ossian Aaltonen,M,30.0,177.00,75.00,Finland,FIN,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
3,Juhamatti Tapio Aaltonen,M,28.0,184.00,85.00,Finland,FIN,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
4,Paavo Johannes Aaltonen,M,28.0,175.00,64.00,Finland,FIN,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze

In [7]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39783 entries, 0 to 39782
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isim      39783 non-null  object
 1   cinsiyet  39783 non-null  object
 2   yas       39783 non-null  float64
 3   boy       39783 non-null  float64
 4   kilo      39783 non-null  float64
 5   takim     39783 non-null  object
 6   uok       39783 non-null  object
 7   yil       39783 non-null  int64
 8   sezon     39783 non-null  object
 9   sehir     39783 non-null  object
 10  spor      39783 non-null  object
 11  etkinlik  39783 non-null  object
 12  madalya   39783 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 3.9+ MB

In [9]:
veri.columns

Index(['isim', 'cinsiyet', 'yas', 'boy', 'kilo', 'takim', 'uok', 'yil',
       'sezon', 'sehir', 'spor', 'etkinlik', 'madalya'],
      dtype='object')

# sütun isimlerini değiştirme

In [11]:
#örnek olması için ilk üç sütunu değiştirdim, csv dosyası düzenlenilip paylaşılmış.
veri.rename(columns={'isim'     : 'Name',
                     'cinsiyet' : 'Gender',
                     'yas'      :  'Age'}, inplace=True) #(inplace= True) anlamı, ismi değiştirilen kelimenin direkt üstüne yazılmasını sağlar.

In [12]:
veri.columns

Index(['Name', 'Gender', 'Age', 'boy', 'kilo', 'takim', 'uok', 'yil', 'sezon',
       'sehir', 'spor', 'etkinlik', 'madalya'],
      dtype='object')